<div class="app">
  <div class="center">
    <form [formGroup]="signupForm" (ngSubmit)="sendForm()">
      <h1>Анкета</h1>
      <div class="name">
        <h2>Имя <span>*</span></h2>

        <input
          style="width: 500px"
          minlength="3"
          type="text"
          formControlName="name"
        />
      </div>
      <div class="age">
        <h2>Возраст <span>*</span></h2>

        <input
          type="number"
          style="width: 70px"
          class="inpage"
          formControlName="age"
        />
      </div>
      <div class="family">
        <h2>Семейное положение <span>*</span></h2>

        <mat-select formControlName="family">
          <mat-option value="option1">Не женат/не замужем</mat-option>
          <mat-option value="option2">Женат/замужем</mat-option>
        </mat-select>
      </div>
      <div class="school">
        <h2>ВУЗ</h2>
        <div class="sch">
          <input
            style="height: 44px"
            formControlName="school"
            type="text"
            placeholder="Например, ВолГу"
          />
          <button class="add" (click)="addSchool(); $event.preventDefault()">
            +</button
          >Добавить еще
          <div *ngFor="let sch of sch; let i = index">
            <input
              style="height: 44px"
              formControlName="school"
              type="text"
              placeholder="Например, ВолГу"
            />
            <button
              class="delete"
              (click)="deleteSchool(i); $event.preventDefault()"
            >
              ✖
            </button>
          </div>
          <p>Укажите заведения в которых вы учились</p>
        </div>
      </div>
      <div class="borning">
        <h2>Место рождения</h2>
        <mat-select formControlName="borning">
          <mat-option value="option1">Не важно</mat-option>
          <mat-option value="option2">Астрахань</mat-option>
          <mat-option value="option3">Волгоград</mat-option>
          <mat-option value="option4">Волжский</mat-option>
          <mat-option value="option5">Ростов-на-Дону</mat-option>
          <mat-option value="option6">Саратов</mat-option>
          <mat-option value="option7">Элиста</mat-option>
        </mat-select>
      </div>
      <div class="skills">
        <div class="option">
          <h2>Навыки</h2>
          <div class="check">
            <div class="grid">
              <div class="opt" *ngFor="let item of checklist; index as index">
                <input
                  type="checkbox"
                  class="box"
                  [checked]="item.isSelected"
                  name="list_name"
                  value="{{ item.id }}"
                  (change)="isAllSelected($event, index)"
                /><label for="item"> {{ item.value }}</label>
              </div>
              <div class="opt">
                <input
                  class="box"
                  type="checkbox"
                  name="list_name"
                  [checked]="masterSelected"
                  value="m1"
                  (change)="checkUncheckAll($event)"
                />
                <label style="font-weight: 700" for="All">Выделить все</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        style="margin-left: 292px; margin-top: 36px"
        class="button"
        [disabled]="!signupForm.valid"
        (click)="sendForm()"
      >
        Отправить
      </button>
    </form>
  </div>
</div>
